/*Carousel section*/

@import "variables";

.phodat-carousel {
    
    padding: 0;

    #pd-carousel {
        background: none !important;
    }

    .item {
        height: auto !important;
        width: 100%;
        margin-bottom: 0 !important;
    }

    .carousel-control {
        z-index: $zindex-overlay;
        &.left{
            z-index:999;
        }
        .glyphicon-chevron-left{
            left: 10px;
        }
        .glyphicon-chevron-right{
            right: 10px;
        }
    }
}

