/*
	CO ZISKAS SECTION
*/

#co-ziskas {
	height: 1480px;
	width: auto;
	padding: 0 0 50px 0;
	background: url('../../assets/images/bg_whatget.png') center center no-repeat;
	color: $color-white;

	.divider {
		height: 28px;
		width: 100%;
		background: url('../../assets/images/divider.png') center center no-repeat;
	}

	.container {
		padding: 116px 0;

		.co-ziskas-t1 {
			height: 24px;
			width: 263px;
			font-size: 15px;
			font-weight: bold;
			letter-spacing: 3px;
			line-height: 24px;
			text-align: center;
			margin: 0 auto;
		}

		p {

			height: 68px;
			width: 719px;
			font-family: "Open Sans";
			font-size: 18px;
			line-height: 34px;
			text-align: center;

		}

		.workshop {
			height: 600px;
			width: 320px;
			background-color: #FFFFFF;
			box-shadow: 0 10px 16px 10px rgba(49,49,49,0.04);

			.ws-sign {
				height: 60px;
				width: 340px;
				background-color: $color-yellow;
				background: url('../../assets/images/bg_workshop.png') center center no-repeat;
				margin-top: 10px;

				div {
					height: 50px;
					color: #19262E;
					font-size: 18px;
					font-weight: bold;
					letter-spacing: 1px;
					line-height: 63px;
				}

			}
		}

		.training {
			height: 600px;
			width: 665px;
			background-color: #FFFFFF;
			box-shadow: 0 10px 16px 10px rgba(49,49,49,0.04);

			.blue-sign {
				height: 60px;
				width: 648px;
				border-radius: 1px 1px 0 0;
				background-color: #16A3F8;
				position: relative;
				top: 5px;

				.col-xs-6 {
					height: 50px;
					font-size: 18px;
					font-weight: bold;
					letter-spacing: 1px;
					line-height: 63px;
				}
			}
		}
	}



}


