/*
	CO ZISKAS SECTION
*/

#co-ziskas {
	height: 1480px;
	width: auto;
	padding: 0 0 50px 0;
	background: url('../../assets/images/bg_whatget.png') center center no-repeat;

	.divider {
		height: 28px;
		width: 100%;
		background: url('../../assets/images/divider.png') center center no-repeat;
	}
}


