//
// GENERAL HELPERS
// --------------------------------------------------

//
// MAIN ELEMENTS
// 

.pripojit-btn {
	border: 2px solid #F0E40A;
	height: 50px;
	width: 186px;
	border-radius: 100px;
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 13px;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
}

.video-btn {
	background: url('../images/play.png') center center no-repeat;
	height: 205px;	
	width: 205px;
	position: relative;
	bottom: 240px;
	vertical-align: middle;
	margin: 0 auto
}

.navbar-fixed-right {
	position: fixed;
	right: 0;
	left: auto;
	//top: 298px;

	top: 130px;
	height: auto;	
	width: 216px;
	background: none;
	font-size: 15px;

	@media  screen and (max-width: $breakpoint-mobile) {
		position: fixed;
		top: 0;
		height: auto;
		width: 100%;
		backround: white;
	}

	li {
		width: 100%;
		border-bottom: 1px dashed;

		&:hover {
			color: $color-yellow !important;
		}

		&:active {
			color: $color-yellow !important;
		}

		&:focus {
			color: $color-yellow !important;
		}

		a {
			font-size: 15px;
			color: $color-white !important;

			&:hover {
				color: $color-yellow !important;
			}

			&:active {
				color: $color-yellow !important;
			}

			&:focus {
				color: $color-yellow !important;
			}
		}
	}

}


// Fonts



//fixers

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

// margins and paddings
.mar-top-40 {
    margin-top: 40px;
}

.mar-bottom-15 {
    margin-bottom: 15px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.mar-top-8-prc {
    margin-top: 8%;
}

// floats
.float-right {
    float: right;
}

