//
// PROMENY
// --------------------------------------------------
.promeny-wrap {
	
	width: 50%;
	height: auto;
	
	h1 {
		color: $color-dark-grey;
	}
	
	.promeny-1 {
		color: #19262E;
		font-family: "Open Sans";
		font-size: 18px;
		line-height: 34px;
		text-align: center;
	}
}

