//
// BREAKPOINTS
// --------------------------------------------------
$breakpoint-iphone-s:           320px;
$breakpoint-iphone-b:           414px;
$breakpoint-phone:              480px;
$breakpoint-mobile:             640px;
$breakpoint-tablet:             768px;
$breakpoint-medium:             992px;
$breakpoint-desktop:           1200px;
$breakpoint-desktop-xl:        1400px;


//
// COLORS
// --------------------------------------------------
$color-black:               #000000;
$color-white:               #fff;
$color-yellow:		#F0E40A;
$color-light-white:	#E5EAF1;
$color-dark-green-bg: #12191D;
$color-white-who:	#E5EAF1;
$color-dark-grey:	#101F27;
$color-rect-grey:	#29313E;
$color-prihlaska-text: #121F28;

//
// FONT SIZES
// --------------------------------------------------


